* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 70px;
  background-color: black;
  width: 100%;
}

.header .container {
  height: 100%;
}

.custom-link {
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links div {
  margin-right: 3rem;
}

input {
  background-color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.car-list-link {
  text-decoration: none !important;
}

.height40px {
  height: 40px;
}

.chat-message-wrapper {
  min-width: 100px;
  max-width: 70%;
}

.chats-profile-wrapper {
  height: 63vh;
  overflow-y: scroll;
}

.messages-wrapper {
  height: 53vh;
  overflow-y: scroll;
}

textarea {
  resize: none !important;
}
