* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 70px;
  background-color: black;
  width: 100%;
}

.header .container {
  height: 100%;
}

.custom-link {
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links div {
  margin-right: 3rem;
}

input {
  background-color: white !important;
}
